# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
*.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.nativecodeanalysis.xml
*.lastcodeanalysissucceeded
*.codeanalysis
*.codeanalysisast
*.nativecodeanalysis.all.xml
*.pchast
**/FileContentIndex/*
Browse.VC.db
Solution.VC.db
DocumentLayout.json
fileList.bin

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
*.project
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
client.so.dbg
server.so
server.so.dbg
client_srv.so
client_srv.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

config.cfg

*.tmp
*.bsp
*.sav
*.hl1
*.hl2
*.hl3
*.dat
*.dll
*.lib
*.vpc.sentinel
*.tga

# Let's not include binary blobs because they can mess with build cache and cause linking errors.
# All of the close source valve provided blobs should be already in the repository.
*.a

ep1_gamestats.dat
**/DownloadLists/*
chaos_random_cc.raw
*.cache
sp/src/games.sln
*.sln
